.row {
    display: flex;
}

.row>* {
    flex: 1 1 12.5%;
    position: relative;
    height: 0;
    padding-bottom: 12.5%;
}

.row:nth-of-type(even)
.box:nth-of-type(even) {
    background-color: #ece7ef;
}

.row:nth-of-type(even)
.box:nth-of-type(odd) {
    background-color: #8194d7;
}